version: "3.9"

services:
  web:
    build: ./app
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./app/:/usr/src/app/
    ports:
      - "8000:8765"
      - "5432:5432"
    env_file:
      - ./.env.dev
